.AnchorOutlineBtn a,
.AnchorFillBtn a {
  padding: 1rem 2rem;
  display: inline-block;
  border: 2px solid var(--border-color);
  color: var(--primary-text-color);
  border-radius: 10px;
  text-decoration: none;
  font-size: 1.2rem;
  line-height: 1rem;
  font-weight: normal;
  transition: background 0.3s ease-in-out;
}

.AnchorOutlineBtn a:hover {
  background-color: var(--btn-color);
}

.AnchorFillBtn a {
  background-color: var(--btn-color);
  border-radius: 10px;
}
.AnchorFillBtn a:hover {
  background-color: transparent;
  border: 2px solid var(--border-color);
}
