.card {
  width: 350px;
  padding: 0.8rem;
  background-color: var(--card-bg);
  /* position: relative; */
  border-radius: 24px;
}
.card_img {
  width: 100%;
}

@media only screen and (max-width: 350px) {
  .card {
    width: 260px;
    padding: 10px;
  }
  .card_img {
    width: 100%;
  }

  .card_title,
  .highlight {
    font-size: 12px !important;
  }
}
