@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto:wght@400;700&display=swap");

:root {
  --poppins: "Poppins", sans-serif;
  --roboto: "Roboto", sans-serif;
  --primary-text-color: #ffffff;
  --text-dark: #8f9ca9;
  --body-bg: #02050e;
  --body-width: 1440px;
  --container-width: 1200px;
  --btn-color: #1e50ff;
  --border-color: #1e50ff;
  --profile-border-color: #ffffff;
  --highlight-bg: #1e50ff;
  --card-bg: #272d37;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
audio,
video,
iframe,
ol,
ul,
dl {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--poppins);
  font-size: 16px;
  background-color: var(--body-bg);
  max-width: var(--body-width);
  color: var(--primary-text-color);
  width: 100%;
  margin-inline: auto;
  overflow-x: hidden;
}
img {
  max-width: 100%;
}
.container {
  max-width: var(--container-width);
  width: 98%;
  margin-inline: auto;
}

/* global css  */
.highlight {
  background-color: var(--highlight-bg);
}
.text-dark {
  color: var(--text-dark) !important;
}
